<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script src="app.js"></script>
</head>
<body>
<div id="container">
	<ul id="nav" class="nav">
		<li>
			<a href="/provinces">provinces</a>
		</li>
		<li>
			<a href="/clients">Clients</a>
		</li>
	</ul>
	
	<div class="errors">
  		{{messages.error}}
	</div>

	<div class="message">
  		{{messages.info}}
	</div>


	{{{body}}}
</div>

</body>
</html>
