<h1>Add province_name</h1>

<form action="/province/add" method="POST">
	<label for="">province_name</label>
	<input type="text" name="province_name" value="{{province_name}}">
	<input type="submit">
</form>


  