<h1>Franchises Details</h1>

<a href="/franch/home">home</a>

{{#franch}}
  <h2>{{contact_details}}</h2>
  <a href="/franch/update/{{id}}">update</a>
  <a href="/franch/delete/{{id}}">Delete</a>
{{/franch}}

{{#no_franch}}
  <p>No franchises available yet. Add some above.</p>
{{/no_franch}}