<h1>Add Contact_Details</h1>

<form action="/province/add" method="POST">
	<label for="">Contact_Details</label>
	<input type="text" name="province_name" value="{{province_name}}">
	<input type="submit">
</form>


  