<h1>franchises</h1>

<a href="/personal_details/add">Add</a>

{{#provinces}}
  <h2>{{contact_details}}</h2>
  <a href="/personal_details/edit/{{id}}">Edit</a>
    <a href="/personal_details/delete/{{id}}">delete</a>

  

{{/personal_details}}

{{#no_client}}
  <p>edit clients above.</p>
{{/no_client}}