<h1>franchises</h1>

<a href="/provinces/add">Add</a>

{{#provinces}}
  <h2>{{contact_details}}</h2>
  <a href="/provinces/update/{{id}}">Update</a>
    <a href="/provinces/delete/{{id}}">delete</a>

  

{{/provinces}}

{{#no_client}}
  <p>edit clients above.</p>
{{/no_client}}