<h1>Add category</h1>

<form action="/provinces/add" method="POST">
	<label for="">contact_details</label>
	<input type="text" name="contact_details" value="{{contact_details}}">
	<input type="submit">
</for