<h1>Edit</h1>

<form action="/province/update/{{data.id}}" method="POST">

	<div class="">
		<label for="">contact_details</label>
		<input type="text" name="contact_details" value="{{data.contact_details}}">
	</div>

	<input type="submit">
</form>